In [2]:
import pandas as pd;
df=pd.read_csv("OPTIDX_NIFTY_PE_01-Jan-2021_TO_28-Jan-2021.csv")
df.columns

Index(['Symbol', 'Date', 'Expiry', 'Option Type', 'Strike Price', 'Open',
       'High', 'Low', 'Close', 'LTP', 'Settle Price', 'No. of contracts',
       'Turnover in Lacs', 'Premium Turnover in Lacs', 'Open Int',
       'Change in OI', 'Underlying Value'],
      dtype='object')

In [100]:
ff=df[['Symbol', 'Date', 'Expiry', 'Option Type']]
kk=pd.DataFrame(df['Strike Price'])
kk.head()
kj=pd.DataFrame(df['Date'])
kl=pd.DataFrame(df['Settle Price'],columns=kj,index=kk)
kl=pd.DataFrame(df['Settle Price'],columns=kj)
kl
kl=pd.DataFrame(df['Settle Price'],columns=kj,index=kk)
dj=df.T
df.columns

Index(['Symbol', 'Date', 'Expiry', 'Option Type', 'Strike Price', 'Open',
       'High', 'Low', 'Close', 'LTP', 'Settle Price', 'No. of contracts',
       'Turnover in Lacs', 'Premium Turnover in Lacs', 'Open Int',
       'Change in OI', 'Underlying Value'],
      dtype='object')

In [102]:
df.head()
df=df.drop(['Symbol','Open','High', 'Low', 'Close', 'LTP','No. of contracts','Turnover in Lacs', 'Premium Turnover in Lacs', 'Open Int',
       'Change in OI'],axis=1)

In [83]:
dj=(df.T)
df.columns
dj.head(7)

,0,1,2,3,4,5,6,7,8,9,...,2209,2210,2211,2212,2213,2214,2215,2216,2217,2218
Date,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,...,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021
Expiry,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,...,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021
Option Type,PE,PE,PE,PE,PE,PE,PE,PE,PE,PE,...,PE,PE,PE,PE,PE,PE,PE,PE,PE,PE
Strike Price,13350,13400,13450,13500,13550,13600,13650,13700,13750,13800,...,12850,12900,12950,13000,13050,13100,13150,13200,13250,13300
Settle Price,75.9,83.7,93.05,102.6,117.15,128.05,142.5,151.45,165.8,181.65,...,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5
Underlying Value,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,...,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55

In [85]:
df.set_index('Date').T

Date,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,...,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021
Expiry,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,...,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021
Option Type,PE,PE,PE,PE,PE,PE,PE,PE,PE,PE,...,PE,PE,PE,PE,PE,PE,PE,PE,PE,PE
Strike Price,13350,13400,13450,13500,13550,13600,13650,13700,13750,13800,...,12850,12900,12950,13000,13050,13100,13150,13200,13250,13300
Settle Price,75.9,83.7,93.05,102.6,117.15,128.05,142.5,151.45,165.8,181.65,...,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5
Underlying Value,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,...,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55

In [92]:
df.set_index('Date').T

Date,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,01-Jan-2021,...,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021
Expiry,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,...,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021,28-Jan-2021
Option Type,PE,PE,PE,PE,PE,PE,PE,PE,PE,PE,...,PE,PE,PE,PE,PE,PE,PE,PE,PE,PE
Strike Price,13350,13400,13450,13500,13550,13600,13650,13700,13750,13800,...,12850,12900,12950,13000,13050,13100,13150,13200,13250,13300
Settle Price,75.9,83.7,93.05,102.6,117.15,128.05,142.5,151.45,165.8,181.65,...,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5,13817.5
Underlying Value,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,14018.5,...,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55,13817.55

In [108]:
a=df['Date'].unique()
list(a)
# for i in df['Date']:
#     print(i)
for i in a:
    if j in df['Date']:
        print(i)

NameError: name 'j' is not defined

In [136]:
strike=df['Strike Price'].unique()
list(strike)

[13350,
 13400,
 13450,
 13500,
 13550,
 13600,
 13650,
 13700,
 13750,
 13800,
 13850,
 13900,
 13950,
 14000,
 14050,
 14100,
 14150,
 14200,
 14250,
 14300,
 14350,
 14400,
 14450,
 14500,
 14550,
 14600,
 14650,
 14700,
 14750,
 14800,
 14850,
 14900,
 14950,
 15000,
 15050,
 15100,
 15150,
 15200,
 15250,
 15300,
 15350,
 15400,
 15450,
 15500,
 10150,
 10200,
 10250,
 10300,
 10350,
 10400,
 10450,
 10500,
 10550,
 10600,
 10650,
 10700,
 10750,
 10800,
 10850,
 10900,
 10950,
 11000,
 11050,
 11100,
 11150,
 11200,
 11250,
 11300,
 11350,
 11400,
 11450,
 11500,
 11550,
 11600,
 11650,
 11700,
 11750,
 11800,
 11850,
 11900,
 11950,
 12000,
 12050,
 12100,
 12150,
 12200,
 12250,
 12300,
 12350,
 12400,
 12450,
 12500,
 12550,
 12600,
 12650,
 12700,
 12750,
 12800,
 12850,
 12900,
 12950,
 13000,
 13050,
 13100,
 13150,
 13200,
 13250,
 13300,
 15550,
 15600,
 15650,
 15700,
 15750,
 15800,
 15850,
 15900,
 15950,
 16000,
 16050,
 16100,
 16150]

In [114]:
len(a)
type(a[0])

numpy.int64

In [146]:
list=[]
for i ,j in enumerate(strike):
    list.append(df['Strike Price'][i])
list

[13350,
 13400,
 13450,
 13500,
 13550,
 13600,
 13650,
 13700,
 13750,
 13800,
 13850,
 13900,
 13950,
 14000,
 14050,
 14100,
 14150,
 14200,
 14250,
 14300,
 14350,
 14400,
 14450,
 14500,
 14550,
 14600,
 14650,
 14700,
 14750,
 14800,
 14850,
 14900,
 14950,
 15000,
 15050,
 15100,
 15150,
 15200,
 15250,
 15300,
 15350,
 15400,
 15450,
 15500,
 10150,
 10200,
 10250,
 10300,
 10350,
 10400,
 10450,
 10500,
 10550,
 10600,
 10650,
 10700,
 10750,
 10800,
 10850,
 10900,
 10950,
 11000,
 11050,
 11100,
 11150,
 11200,
 11250,
 11300,
 11350,
 11400,
 11450,
 11500,
 11550,
 11600,
 11650,
 11700,
 11750,
 11800,
 11850,
 11900,
 11950,
 12000,
 12050,
 12100,
 12150,
 12200,
 12250,
 12300,
 12350,
 12400,
 12450,
 12500,
 12550,
 12600,
 12650,
 12700,
 12750,
 12800,
 12850,
 12900,
 12950,
 13000,
 13050,
 13100,
 13150,
 13200,
 13250,
 13300,
 13350,
 13400,
 13450,
 13500,
 13550,
 13600,
 13650,
 13700,
 13750,
 13800,
 13850,
 13900,
 13950]

In [138]:
k

{'04-Jan-2021': ['']}

In [140]:
for i ,j in enumerate(strike):
    print(i,j)

0 13350
1 13400
2 13450
3 13500
4 13550
5 13600
6 13650
7 13700
8 13750
9 13800
10 13850
11 13900
12 13950
13 14000
14 14050
15 14100
16 14150
17 14200
18 14250
19 14300
20 14350
21 14400
22 14450
23 14500
24 14550
25 14600
26 14650
27 14700
28 14750
29 14800
30 14850
31 14900
32 14950
33 15000
34 15050
35 15100
36 15150
37 15200
38 15250
39 15300
40 15350
41 15400
42 15450
43 15500
44 10150
45 10200
46 10250
47 10300
48 10350
49 10400
50 10450
51 10500
52 10550
53 10600
54 10650
55 10700
56 10750
57 10800
58 10850
59 10900
60 10950
61 11000
62 11050
63 11100
64 11150
65 11200
66 11250
67 11300
68 11350
69 11400
70 11450
71 11500
72 11550
73 11600
74 11650
75 11700
76 11750
77 11800
78 11850
79 11900
80 11950
81 12000
82 12050
83 12100
84 12150
85 12200
86 12250
87 12300
88 12350
89 12400
90 12450
91 12500
92 12550
93 12600
94 12650
95 12700
96 12750
97 12800
98 12850
99 12900
100 12950
101 13000
102 13050
103 13100
104 13150
105 13200
106 13250
107 13300
108 15550
109 15600
110 15650
111 15700
112 15750
113 15800
114 15850
115 15900
116 15950
117 16000
118 16050
119 16100
120 16150

In [144]:
list=[]
for j in strike:
    list.append(df['Strike Price'])
list

  13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64, 0       13350
 1       13400
 2       13450
 3       13500
 4       13550
         ...
 2214    13100
 2215    13150
 2216    13200
 2217    13250
 2218    13300
 Name: Strike Price, Length: 2219, dtype: int64]

In [3]:
df

,Symbol,Date,Expiry,Option Type,Strike Price,Open,High,Low,Close,LTP,Settle Price,No. of contracts,Turnover in Lacs,Premium Turnover in Lacs,Open Int,Change in OI,Underlying Value
0,NIFTY,01-Jan-2021,28-Jan-2021,PE,13350,98.30,98.85,71.60,75.90,75.45,75.90,176,1772.62,10.42,8325,3225,14018.5
1,NIFTY,01-Jan-2021,28-Jan-2021,PE,13400,121.05,121.05,79.40,83.70,84.50,83.70,5848,59164.56,392.16,660150,85275,14018.5
2,NIFTY,01-Jan-2021,28-Jan-2021,PE,13450,119.15,119.20,88.00,93.05,93.90,93.05,487,4948.54,35.93,18600,10800,14018.5
3,NIFTY,01-Jan-2021,28-Jan-2021,PE,13500,139.90,139.90,97.50,102.60,103.00,102.60,23788,242798.10,1944.60,2043525,267900,14018.5
4,NIFTY,01-Jan-2021,28-Jan-2021,PE,13550,140.25,140.25,107.40,117.15,112.95,117.15,406,4163.64,37.66,26025,5250,14018.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2214,NIFTY,28-Jan-2021,28-Jan-2021,PE,13100,0.50,0.50,0.05,0.05,0.05,13817.55,15159,148940.30,3.12,566925,67125,13817.55
2215,NIFTY,28-Jan-2021,28-Jan-2021,PE,13150,0.30,0.55,0.05,0.10,0.05,13817.55,2057,20287.56,0.40,55200,34950,13817.55
2216,NIFTY,28-Jan-2021,28-Jan-2021,PE,13200,0.70,0.70,0.05,0.05,0.05,13817.55,22841,226131.60,5.70,837750,197250,13817.55
2217,NIFTY,28-Jan-2021,28-Jan-2021,PE,13250,0.50,2.40,0.05,0.10,0.05,13817.55,4286,42593.40,1.28,51825,26550,13817.55
2218,NIFTY,28-Jan-2021,28-Jan-2021,PE,13300,1.60,3.00,0.05,0.05,0.05,13817.55,59563,594161.92,20.99,1522125,353700,13817.55